.Pealkiri {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ennepealkirja {
    position: relative;
    font-size: 25px;
    text-align: center;
}

.avaleht {
    background-size: 2200px 1237px;
    background-image: url("Lumiere koolitus 16.11-274-Edit.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}