body {
    background-color: #2b2b33;
}

.kkk_küsimused {
    margin: 10px;
    position: relative;
    text-align: left;
    left: 15%;
    margin-top: 3%;
    font-size: 250%;
    margin: 20px;
}

.pealkiriküsimused {
    margin-bottom: 20px;
}

.küsimusedvastused {
    position: relative;
    top: 20%;
    left: 17%;
    margin-right: 5%;
    text-align: left;
    max-width: 1200px;
}

.pildidiv {
    margin: 5%;
}

.pilt {
    float: right;
    width: 300px;
    height: 100%;
}

.küsimus {
    margin: 2px;
    font-weight: bold;
    background-color: #33333b;
    color: azure;
    cursor: pointer;
    padding: 12px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.active,
.küsimus:hover {
    background-color: #D08A80;
    color: #33333b;
}

.vastus {
    margin: 10px;
    width: 40%;
    display: none;
    color: #D08A80;
    background-color: #2b2b33;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}