body {
    background-color: #2b2b33;
}
.kkk_k端simused{
    position: relative;
    text-align: center;
    left: 2%;
    margin-top: 3%;
    font-size: 250%;
}

.k端simusedvastused{
    position: absolute;
    top: 20%;
    left: 17%;
    margin-right: 5%;
    text-align: left;
}

.pilt{
    float: right;
    width: 250px;
    height: 100%;
}

.k端simus {
    background-color:black;
    color:azure;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .active, .k端simus:hover {
    background-color: pink; 
  }

  .vastus {
    display: none;
    color: azure;
    background-color: #2b2b33;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }