body {
    background-color: #2b2b33;
}

div.küsimusedvastused{
    position: absolute;
    left: 30px;
}


dt {
    color: #FFE9DB;
    font-family: monospace;
    font-size: 25px   
}

dd {
    color: #FFE9DB;
    font-family: monospace;
    font-size: 15px;
    left: 20px;
}