.pilt {
    margin-left: 20px;
    float: right;
    width: 250px;
    height: 100%;
}

.video {
    width: 426px;
    height: 240px;
}

.videodiv {
    position: absolute;
    margin: 10px;
    margin-bottom: 100px;
}

.tutvustus {
    width: 85%;
    position: relative;
    margin-left: 10%;
    margin-right: 5%;
    text-align: left;
}

.tekst{
    font-size: 150%;
    text-align: justify;
    }
