    body {
    background-color: #2b2b33;
}

.pilt {
    margin: 10px;
    float: right;
    width: 250px;
    height: 100%;
}

p {
    margin: 0 0 12px;
}

.video {
    width: 426px;
    height: 240px;
    box-align: center;
    margin: 10px;
}

.pilt1 {
    margin: 10px;
    float: left;
    width: 250px;
    height: 100%;
}

.meistpealkiri {
    position: relative;
    text-align: center;
    left: 2%;
    margin-top: 3%;
    font-size: 250%;
    margin-bottom: 20px;
}

.tutvustus {
    position: relative;
    top: 20%;
    left: 17%;
    margin-right: 5%;
    text-align: left;
}

<<<<<<< HEAD .tekst {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    =======.tekst,
    .tekst1 {
        color: azure;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        text-align: justify;
        >>>>>>>e7c60f91f5a979a2f8088f0489ead71413f5a4bd
    }