* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
}

.Pealkiri {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.ennepealkirja {
    font-size: 25px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.avaleht {
    background-size: 2200 px 1237 px;
    background-image: url("Lumiere koolitus 16.11-274-Edit.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33333b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    /*opacity: 0.8;*/
    margin-left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger {
    cursor: pointer;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

.burger div {
    width: 40px;
    height: 5px;
    background-color: azure;
    margin: 7px;
}

.dropdown a:hover {
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #D08A80;
    padding: 3%;
}

.dropdown-content a {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.jaluts {
    background-color: #D08A80;
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 50px;
}

.copyright-text {
    font-weight: bold;
    color: #33333b;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.jaluts .social-icons {
    align-items: right;
    position: fixed;
    padding: 2px;
}

.jalutsi-osa {
    display: flex;
}


/* Jalutsi kood suuresti: https://codepen.io/scanfcode/pen/MEZPNd */

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    right: 0;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: azure;
    color: #33333b;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.instagram:hover {
    background-color: #dd588b
}