* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
}

.Pealkiri {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.ennepealkirja {
    font-size: 20px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.avaleht {
    background-size: 2200 px 1237 px;
    background-image: url("Lumiere koolitus 16.11-274-Edit.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f31a50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.8;
    margin-left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger {
    cursor: pointer;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

.burger div {
    width: 40px;
    height: 5px;
    background-color: azure;
    margin: 7px;
}

.dropdown a:hover {
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a {
    opacity: 1 !important;
    color: azure;
    font-size: 30px;
    text-decoration: none;
    display: block;
}